/* dashboard.css */
.border0 {
  border: 0;
}

.bg-transparent {
  background: transparent;
}

/* Sidebar styles */
.ui.visible.inverted.left.vertical.sidebar.menu {
  width: 200px;
}

/* Logout button style */
button.logout-button {
  margin-left: 430px;
  color: black;
  font-weight: bold;
}

/* Box styles */
.box {
  margin-right: 120px;
}

/* Box 1 with Highcharts styles */
.box-1 {
  width: 65%;
  height: 200px;
  background-color: #f0f0f0;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* Box 2 styles */
.box-2 {
  width: 56%;
  height: 200px;
  background-color: #f0f0f0;
  margin-bottom: 20px;
  margin-left: -35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.page-content {
  padding: 50px 25px 120px;
}

/* Total Users text styles */
/* .total-users-text {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  } */

/* Total Users data styles */
/* .total-users-data {
    text-align: left;
    padding-left: 10px;
    font-size: 10px;
  }
   */

/*
 
  .sidebar.menu {
    background: #dcebf3!important;
    color: #333;
}

.sidebar.menu .dashboard_links .item {
    color: #333!important;
    text-align: left;
    font-size: 16px;
}

.sidebar.menu .dashboard_links .item + .item {
    border-top: 1px solid #fff;
}
.sidebar.menu .dashboard_links .item.active{
  background:#9eaab0;
  color:#fff;
}
.logo_item {
  display: block;
  width: 100%;
  padding: 15px 15px;
  border-bottom: 1px solid #fff;
  background: #fff;
  text-align: left;
}
.logo_item img{
  max-width:100%;
}
.main_dashboard .ui.visible.left.sidebar~.pusher.dashboard_rightSide{
  transform: inherit;
  margin-left:280px;
 }
.dashboard_rightTopbar {
  align-items: center;
  padding: 10px 15px;
}
.dashboard_rightTopbar .welcome_text p {
  margin-bottom: 0;
  padding-bottom: 0;
}p {
  font-size: 16px;
  font-weight: 400;
}
.topHeading p {
  font-weight: 600;
}
.page-content {
  padding: 30px;
}
.card{
margin-bottom: 20px;
}
.card-height-100 {
  height: calc(100% - 1.5rem);
}
.bg-grey{
  background-color: #f4f4f4;
}
.w100 {
  width: 100%;
}
.gap-x-3 {
  gap: 15px;
}

.grid_margin{
  margin-bottom:20px;
}
.card_title_heading {
  text-align: left;
  background: #fff;
  padding: 0px 0px 10px;
}

.card_title_heading h3 {
  font-size: 18px;
}
.total-users-data ul li {
  font-size: 16px;
  list-style-type: none;
  padding: 5px 0px;
  display: flex;
  justify-content: space-between;
  font-weight:400;
}

.total-users-data ul {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-bottom: 0;
}

.total-users-data {
  text-align: center;
  height: 100%;
  padding-left: 0px;
}
body ul.mx0{
  max-width: inherit;
}
.cal_center {
  max-width: 170px;
  margin: auto;
}
body .totalItemRedeem ul {
  min-width: 200px;
  width: inherit;
  max-width: 300px;
}
.card-body {
  padding: 30px;
}
.main_dashboardContent {
  border: 0!important;
} */


/*Modal*/
.close_btn {
  background: transparent;
  border: 0;
  height: inherit;
  line-height: inherit;
  font-size: 30px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 0;
  border: 0;
}

.loader_content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
}
